<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a Customer</title>
    <!--<meta pName="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='../static/webjars/bootstrap/css/bootstrap.min.css'>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<a class="navbar-brand" href="#">Title</a>
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
	</ul>
</nav>

<h1>Form</h1>
<form action="#" th:action="@{/customer}" th:object="${customer}" method="post">
    <p>First Name: <input type="text" th:field="*{firstName}"/></p>
    <p>Middle Initial: <input type="text" th:field="*{middleInitial}"/></p>
    <p>Last Name: <input type="text" th:field="*{lastName}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>